.bold {
    font-weight: 900;
}

a.blue {
    color: blue;
}

.Table {
    text-align: center;
    border-collapse: separate;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.Table th,
.Table td {
    padding: 12px 15px;
}

